:root {
  --ModerateBlue: hsl(238, 40%, 52%);
  --SoftRed: hsl(358, 79%, 66%);
  --LightGrayishBlue: hsl(239, 57%, 85%);
  --PaleRed: hsl(357, 100%, 86%);
  --DarkBlue: hsl(212, 24%, 26%);
  --GrayishBlue: hsl(211, 10%, 45%);
  --LightGray: hsl(223, 19%, 93%);
  --VeryLightGray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
  --fontSize: 16px;
}

body {
  margin: 0;
  min-width: 375px;
}
* {
  font-family: "Rubik";
}
p,
textarea,
button {
  font-size: var(--fontSize);
  margin: 0;
}
#app {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: var(--VeryLightGray);
}
.button {
  border: none;
  cursor: pointer;
  background: none;
  padding: 0 12px;
  height: 2.285em;
  border-radius: 8px;
  font-weight: 500;
}
.button-primary {
  color: var(--ModerateBlue);
}
.button-danger {
  color: var(--SoftRed);
}
.button-fill-primary {
  background: var(--ModerateBlue);
  color: var(--White);
}
.button-fill-danger {
  background: var(--SoftRed);
  color: var(--White);
}
.button-fill-default {
  background: var(--GrayishBlue);
  color: var(--White);
}
.button:hover {
  filter: opacity(70%);
}
.comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 710px;
  padding: 1rem 0;
}
.comment-wrapper {
  display: flex;
}
.comment-indent {
  flex: none;
  display: flex;
  justify-content: center;
  width: 80px;
}
.comment-indent__threadline {
  width: 2px;
  height: 100%;
  background: var(--LightGray);
}
.comment-container {
  flex: auto;
  padding: 1.5rem;
  background: var(--White);
  border-radius: 4px;
  margin-bottom: 1rem;
}
.comment {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.comment-vote {
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5rem;
}
.comment-vote__control {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 32px;
}
.comment-vote__control:first-child {
  border-radius: 8px 8px 0 0;
}
.comment-vote__control:last-child {
  border-radius: 0 0 8px 8px;
}
.comment-vote__control,
.comment-vote__buton {
  background: var(--VeryLightGray);
}
.comment-vote__score {
  color: var(--ModerateBlue);
  font-weight: 700;
}
.comment-vote__button {
  color: var(--GrayishBlue);
}
.comment-body {
  flex: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comment-header {
  display: flex;
  justify-content: space-between;
}
.comment-author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.comment-author__tag {
  background: var(--ModerateBlue);
  color: var(--White);
  padding: 4px 8px;
  border-radius: 4px;
}
.comment-actions {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}
.comment-content {
  margin-top: 0.5rem;
}
.comment-content__mention {
  color: var(--ModerateBlue);
  font-weight: bold;
}
.comment-content__text {
  word-break: break-word;
}
.comment-form {
  flex: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 4px;
  padding: 1.5rem;
  margin-bottom: 1rem;
  background: var(--White);
}
.comment-textarea {
  flex: auto;
  padding: 1rem;
  border-radius: 8px;
  resize: none;
  outline: none;
  border: 1px solid var(--LightGray);
}
.comment-textarea:focus {
  border: 1px solid var(--DarkBlue);
}
.comment-form__actions {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.comment__edit-form {
  display: flex;
  flex-direction: column;
}
.comment__edit-form__actions {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  margin-top: .5rem;
}
.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: hsl(212deg 24% 26% / 45%);
}
.modal-container {
  background: var(--White);
  border-radius: 8px;
  max-width: 330px;
  padding: 1.5rem;
}
.modal-title {
  margin: 0 0 1rem 0;
}
.modal-footer {
  margin-top: 1rem;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

@media screen and (max-width: 710px) {
  :root {
    --fontSize: 14px
  }
  .comment-indent {
    width: clamp(0px, 7vw, 80px);
  }
  .comment {
    flex-direction: column-reverse;
  }
  .comment-vote {
    flex-direction: row;
    padding-top: 0;
  }
  .comment-vote {
    margin-top: 1.5rem;
  }
  .comment-vote__control:first-child {
    border-radius: 8px 0 0 8px;
  }
  .comment-vote__control:last-child {
    border-radius: 0 8px 8px 0;
  }
  .comment-actions {
    bottom: 0;
  }
  .comment-form {
    flex-wrap: wrap;
  }
  .comment-form img {
    order: 1;
    height: 28px;
    width: auto;
  }
  .comment-form__actions {
    order: 2;
  }
  .comment-textarea {
    flex: 1 1 100%;
  }
}